.image {
    max-width: 50%;
    max-height: 50%;
    float: right;
    padding: 20px;
}

.image2 {
    max-width: 50%;
    max-height: 50%;
    float: left;
    padding-left: 20px;
}

.image3{
  max-width: 30%;
  float: right;
  padding-left: 10px;
}

.main_text {
    margin: 50px;
}

.intro{
  max-width: 60%;
  float: left;
  padding-right: 20px;
}

#aftermedia{
  text-align: left;
  float: left;
}

.navbar {
  padding-left: 50px;
}

.contact_me{
  padding-left: 50px;
}

.clearfix {
  overflow: auto;
}

/* RESPONSIVE GRID */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
